.mainu_bar{
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #edf2fa;
    border-radius: 2rem;
    max-width: 97vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.editings-container{
    border:none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mainu_bar {
      margin-top: 2rem;
      margin-left: 2rem;
      width: 90%;
      height: 7vh;
      border-radius: 3rem;
    }
  }
  

  @media screen and (max-width: 767px) {
    .mainu_bar {
      margin-top: 1rem;
      margin-left: 1rem;
      background-color: #edf2fa;
      border-radius: 2rem;
      width: 90vw;
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }