.main{
    width: 25%;
    position: fixed;
    left: 0;
    height: 120%;
    border-right: 1px solid #e6ecf0;
 

    background-color: #f0f3fa;
}
.toggle_icon {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.3rem;
    border: none;
   
}
.toggle_icon:hover{
   background-color: #e8ecef;
    border-radius: 49%;
}
.parent{
    width: 25%;
}