.main{
    width: 75%;
    padding: 1vh;
    background-color:#f0f8fa;
    position:absolute ;
    left: 25%;
    
}

.inputarea{
    background-color: #fff;
    width: 50%;
}
 
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main {
    width: 90%;
    padding: 2vh;
    left: 5%;
    }
    
    .inputarea {
    width: 70%;
    }
    }


    @media screen and (max-width: 767px) {
        .main {
            width: 100%;
            padding: 2vh;
            left: 0;
        }
        
        .inputarea {
            width: 90%;
        }
    }